*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #000;
}

/* Container 
============*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header 
============*/

 .header {
 }

 .header__inner {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid #505168;
     padding: 35px 0;
     align-items: center;
 }

 /* Nav 
 ============*/

 .nav {
     font-size: 13px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .nav__link {
     color: #fff;
     text-decoration: none;
 }

.nav__link:hover {
    text-decoration: underline;
}